.advantages {
  background-color: $cl-blue;
  //background-image: url("../img/triangle-reverse.svg"), url("../img/hammer-bg.jpg");
  background-image: url("../img/hammer-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding-top: 30px;
  min-height: 400px;
  color: $cl-white;

  &.webp {
    background-image: url("../img/hammer-bg.webp");
  }
}

.advantages__wrapper {
  max-width: ($desktop-width);
  margin: 0 auto;
}

.advantages__slide {
  padding: 0 50px;
}

.advantages__lead {
  font-size: 24px;
  line-height: 30px;
  padding: 15px 0;
  text-align: center;
}

.advantages__header {
  margin: 0;
  //padding: 50px 0 15px 0;
  padding: 15px 0;
  text-align: center;
}

.advantages__advantage {
  @include list-reset;
}

.advantages__advantage-item {
  padding: 0;
  padding-left: 24px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    background: transparent url("../img/advantages-arrow.svg") center center no-repeat;
    background-size: 20px 20px;
  }
}

@media (max-width: $desktop-width) {
  .advantages {
    min-height: 420px;
    background-image: url("../img/hammer-bg-tablet.jpg");

    &.webp {
      background-image: url("../img/hammer-bg-tablet.webp");
    }
  }
}

@media (max-width: $tablet-width) {
  .advantages {
    max-width: none;
    background-color: $cl-blue;
    background-image: url("../img/hammer-bg-mobile.jpg");
    padding-top: 0;
    padding-bottom: 20px;

    &.webp {
      background-image: url("../img/hammer-bg-mobile.webp");
    }
  }

  .advantages__lead {
    margin-top: 0;
  }
}
