.contacts-page__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-page__address {
  font-size: 20px;
  line-height: 26px;
  color: $cl-red;
  text-align: center;
  flex-basis: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 0;

  &:hover {
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
}

.contacts-page__info {
  margin-top: 15px;
  font-size: 20px;
  line-height: 26px;
  color: $cl-blue-footer;
  flex-basis: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  padding: 15px;

  &:hover {
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
}

.contacts-page__time,
.contacts-page__email,
.contacts-page__phones {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  margin-bottom: 15px;
}

.contacts-page__phones-list {
  @include list-reset;
  flex-direction: column;
}

.contacts-page__link {
  color: $cl-red;
  text-decoration: underline;

  &:hover {
    color: lighten($cl-red, 30%);
  }

  &:focus,
  &:active {
    color: invert($cl-red);
  }
}

@media (max-width: $desktop-width) {
  .contacts-page__wrapper {
    max-width: $tablet-width;
    padding: 0 15px;
  }
}

@media (max-width: $tablet-width) {
  .contacts-page__wrapper {
    max-width: none;
    padding: 0 15px;
  }

  .contacts-page__time,
  .contacts-page__email,
  .contacts-page__phones {
    flex-basis: 100%;
  }
}
