.features {
  padding: 80px 0;
  max-width: $desktop-width;
  margin: 0 auto;
  box-sizing: border-box;
}

.features__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features__item {
  width: 50%;
  min-height: 85px;
}

@media (max-width: $tablet-width) {
  .features {
    padding: 20px 0;
  }

  .features__list {
    flex-direction: column;
  }

  .features__item {
    width: 100%;
    min-height: 85px;
  }
}
