.feature {
  padding: 0 15px;
  padding-left: 110px;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 30px;
  font-family: "Roboto", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  min-height: 100px;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $cl-white;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.feature--consult {
  &::before {
    background-image: url("../img/icon-consult.svg");
    background-size: 83px auto;
  }
}

.feature--analiz {
  &::before {
    background-image: url("../img/icon-analiz.svg");
    background-size: 73px auto;
  }
}

.feature--docs {
  &::before {
    background-image: url("../img/icon-docs.svg");
    background-size: 70px auto;
  }
}

.feature--representation {
  &::before {
    background-image: url("../img/icon-representation.svg");
    background-size: 83px auto;
  }
}

.feature--talk {
  &::before {
    background-image: url("../img/icon-talk.svg");
    background-size: 78px auto;
  }
}

.feature--pretrial {
  &::before {
    background-image: url("../img/icon-pretrial.svg");
    background-size: 75px auto;
  }
}

@media (max-width: $desktop-width) {
  .feature {
    font-size: 18px;
    line-height: 24px;
  }
}
