.footer-main {
  background-color: $cl-blue-footer;
  font-size: 16px;
  line-height: 24px;
  color: $cl-white;
  min-height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  small {
    min-width: $desktop-width;
    margin: 0 auto;
    font: inherit;
    padding: 5px 15px;
    box-sizing: border-box;
  }
}

@media (max-width: $desktop-width) {
  .footer-main {
    small {
      min-width: $tablet-width;
    }
  }
}

@media (max-width: $tablet-width) {
  .footer-main {
    small {
      min-width: 0;
    }
  }
}
