.header-main {
  background-color: transparent;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: url("../img/top-lines@1x.png"), url("../img/menu-lines@1x.png"), url("../img/triangle.svg"), url("../img/standardbg.jpg");
  background-size: 100%, auto, 105% auto, cover;
  background-position: center top, left calc(50% + 115px) top 230px, center bottom -1px, center top;
  color: $cl-white;
  min-height: 500px;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  &.webp {
    background-image: url("../img/top-lines@1x.webp"), url("../img/menu-lines@1x.webp"), url("../img/triangle.svg"), url("../img/standardbg.webp");
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    height: 550px;
  }

  @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url("../img/top-lines@2x.png"), url("../img/menu-lines@2x.png"), url("../img/triangle.svg"), url("../img/standardbg.jpg");

    &.webp {
      background-image: url("../img/top-lines@2x.webp"), url("../img/menu-lines@2x.webp"), url("../img/triangle.svg"), url("../img/standardbg.webp");
    }
    background-size: 100%, 1600px, 105% auto, cover;
  }
}

.header-main__main-nav {
  margin-top: 30px;
}

@media (max-width: $desktop-width) {
  .header-main {
    background-position: center top, left calc(50% + 100px) top 210px, center bottom -1px, top center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-image: url("../img/top-lines@1x.png"), url("../img/menu-lines@1x.png"), url("../img/triangle.svg"), url("../img/standardbg-1600.jpg");
    background-size: 100%, auto, 105% auto, cover;

    &.webp {
      background-image: url("../img/top-lines@1x.webp"), url("../img/menu-lines@1x.webp"), url("../img/triangle.svg"), url("../img/standardbg-1600.webp");
    }
  }

  .header-main__main-nav {
    margin-top: 50px;
  }
}

@media (max-width: 900px) {
  .header-main {
    background-position: center top, left calc(50% + 100px) top 235px, center bottom -1px, top center;
  }
  .header-main__main-nav {
    margin-top: 90px;
  }

  .header-main__menu-label {
    display: inline;
  }
}

@media (max-width: $tablet-width) {
  .header-main {
    background-position: center top, top center;
    background-repeat: no-repeat, no-repeat;
    background-image: url("../img/top-lines@1x.png"), url("../img/standardbg-1600.jpg");
    background-size: 150%, auto;
    padding-top: 40px;

    &.webp {
      background-image: url("../img/top-lines@1x.webp"), url("../img/standardbg-1600.webp");
    }
  }

  .header-main__main-nav {
    margin-top: 0;
  }
}
