.header-banner {
  color: $cl-grey;
  font-size: 22px;
  line-height: 28px;
  font-family: "Roboto", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.header-banner__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.header-banner__logo-text {
  font-size: 40px;
  line-height: 40px;
  text-transform: none;
  font-family: "Lora", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  background-color: $cl-red;
  padding: 10px;
  color: $cl-white;
  display: inline-block;
  //font-style: italic;
}

.header-banner__promo-text,
.header-banner__contacts-block {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 15px;
  margin: 0;
}

.header-banner__firm-services-text {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  background-color: $cl-blue;
  color: $cl-white;
  padding: 10px;
  display: inline-block;
}

.header-banner__logo {
  margin: 0 auto;
  //margin-bottom: 55px;
  justify-content: center;
  flex-basis: 100%;
}

@media (max-width: $tablet-width) {
  .header-banner__promo-text {
    max-width: 100%;
    font-size: 20px;
    line-height: 28px;
    flex-basis: 100%;
  }

  .header-banner__wrapper {
    padding: 0 15px;
  }

  .header-banner__contacts {
    flex-basis: 100%;
  }
}
