.header-contacts {
  background-color: transparent;
  background-image: linear-gradient(to right, transparent, transparent 30%, $cl-blue-menu 30%, $cl-blue-menu);
}

.header-contacts__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: $desktop-width - 30px;
  margin: 0 auto;
  background-color: $cl-blue-menu;
  transform: translateX(15px);
}

.header-contacts__contact {
  min-height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;

  &--phone:first-of-type {
    padding-left: 50px;
    background: $cl-blue-menu url("../img/phone.png") no-repeat left 10px center;
  }

  &--email {
    padding-left: 45px;
    background: $cl-blue-menu url("../img/mail.png") no-repeat left 10px center;
  }

  a {
    color: $cl-white;
    text-decoration: underline;
    font-size: 16px;
    line-height: 24px;

    &:visited {
      color: $cl-white;
    }

    &:hover {
      color: transparentize($cl-white, 0.3);
    }

    &:active,
    &:focus {
      color: invert($cl-red);
    }
  }
}

@media (max-width: $desktop-width) {
  .header-contacts__list {
    max-width: calc(100% - 30px);
  }
}

@media (max-width: $tablet-width) {
  .header-contacts__list {
    flex-direction: column;
  }

  .header-contacts__contact {
    &--phone {
      padding-left: 50px;
      background: $cl-blue-menu url("../img/phone.png") no-repeat left 10px center;
    }
  }
}
