.header-main {
  background-color: $cl-white;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-image: url("../img/pravoslava1.png"), url("../img/top-lines@1x.png"), url("../img/menu-lines@1x.png"), url("../img/starandbg.jpg");
  background-size: auto, 100%, auto, cover, auto;
  background-position: left 80% top 90px, center top, left calc(50% + 100px) top 430px, top center;
  color: $cl-white;
  min-height: 550px;
  padding: 0;
  padding-top: 190px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     height: 550px;
  }

  @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url("../img/pravoslava1.png"), url("../img/top-lines@2x.png"), url("../img/menu-lines@2x.png"), url("../img/starandbg.jpg");
    background-size: auto, 100%, 1600px, cover, auto;
  }

  @media (max-width: 2560px) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      width: 0;
      height: 0;
      border: 25px solid transparent;
      border-left: 50% solid $cl-white;
      border-right: 50% solid $cl-white;
      border-bottom: 0 solid $cl-white;
    }
  }
}

.header-main__main-nav {
  margin-top: auto;
}

// .header-main__menu-label {
//   display: none;
//   color: $cl-grey;
// }

@media (max-width: $desktop-width) {
  .header-main {
    background-position: right 0 top 70px, center top, left calc(50% + 100px) top 430px, top center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-image: url("../img/pravoslava1.png"), url("../img/top-lines@1x.png"), url("../img/menu-lines@1x.png"), url("../img/starandbg.jpg");
    background-size: auto, 100%, auto, cover, auto;
  }

  .header-main__main-nav {
    margin-top: 105px;
  }

  // .header-main__menu-label {
  //   display: inline;
  // }
}

@media (max-width: 900px) {
  .header-main__main-nav {
    margin-top: 90px;
  }

  .header-main__menu-label {
    display: inline;
  }
}

@media (max-width: $tablet-width) {
  .header-main {
    background-position: center top, top center;
    background-repeat: no-repeat, no-repeat;
    background-image: url("../img/top-lines@1x.png"), url("../img/starandbg.jpg");
    background-size: 150%, auto;
    padding-top: 40px;
  }

  .header-main__main-nav {
    margin-top: 0;
  }

  // .header-main__menu-label {
  //   display: inline;
  // }
}
