.header-main {
  background-color: $cl-white;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-image: url("../img/pravoslava1.png"), url("../img/top-lines@1x.png"), url("../img/menu-lines@1x.png"), url("../img/starandbg.jpg");
  background-size: auto, 100%, auto, cover, auto;
  background-position: left 70% top 90px, center top, left calc(50% + 100px) top 430px, top center;

  color: $cl-white;
  min-height: 550px;
  padding: 0;
  padding-top: 190px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 2560px) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      width: 0;
      height: 0;
      border: 25px solid transparent;
      border-left: 50vw solid $cl-white;
      border-right: 50vw solid $cl-white;
      border-bottom: 0 solid $cl-white;
    }
  }
}

.header-main__main-nav {
  margin-top: auto;
}
