.header-main {
  background-color: transparent;
  //background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-repeat: no-repeat, no-repeat, no-repeat;
  //background-image: url("../img/pravoslava1.png"), url("../img/top-lines@1x.png"), url("../img/menu-lines@1x.png"), url("../img/starandbg.jpg");
  background-image: url("../img/top-lines@1x.png"), url("../img/menu-lines@1x.png"), url("../img/starandbg.png");
  //background-size: auto, 100%, auto, cover;
  background-size: 100%, auto, cover;
  //background-position: left 80% top 90px, center top, left calc(50% + 100px) top 430px, center top;
  background-position: center top, left calc(50% + 100px) top 430px, center top;
  color: $cl-white;
  min-height: 550px;
  padding: 0;
  padding-top: 190px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  &.webp {
    //background-image: url("../img/pravoslava1.webp"), url("../img/top-lines@1x.webp"), url("../img/menu-lines@1x.webp"), url("../img/starandbg.webp");
    background-image: url("../img/top-lines@1x.webp"), url("../img/menu-lines@1x.webp"), url("../img/starandbg.webp");
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    height: 550px;
  }

  @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    //background-image: url("../img/pravoslava1.png"), url("../img/top-lines@2x.png"), url("../img/menu-lines@2x.png"), url("../img/starandbg.jpg");
    background-image: url("../img/top-lines@2x.png"), url("../img/menu-lines@2x.png"), url("../img/starandbg.png");

    &.webp {
      //background-image: url("../img/pravoslava1.webp"), url("../img/top-lines@2x.webp"), url("../img/menu-lines@2x.webp"), url("../img/starandbg.webp");
      background-image: url("../img/top-lines@2x.webp"), url("../img/menu-lines@2x.webp"), url("../img/starandbg.webp");
    }
    //background-size: auto, 100%, 1600px, cover;
    background-size: 100%, 1600px, cover;
  }
}

.header-main__main-nav {
  margin-top: auto;
}

@media (max-width: $desktop-width) {
  .header-main {
    // background-position: right 0 top 70px, center top, left calc(50% + 100px) top 430px, top center;
    // background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    // background-image: url("../img/pravoslava1.png"), url("../img/top-lines@1x.png"), url("../img/menu-lines@1x.png"), url("../img/starandbg.jpg");
    // background-size: auto, 100%, auto, cover, auto;
    background-position: center top, left calc(50% + 100px) top 430px, top center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-image: url("../img/top-lines@1x.png"), url("../img/menu-lines@1x.png"), url("../img/starandbg.png");
    background-size: 100%, auto, cover, auto;

    &.webp {
      //background-image: url("../img/pravoslava1.webp"), url("../img/top-lines@1x.webp"), url("../img/menu-lines@1x.webp"), url("../img/starandbg.webp");
      background-image: url("../img/top-lines@1x.webp"), url("../img/menu-lines@1x.webp"), url("../img/starandbg.webp");
    }
  }

  .header-main__main-nav {
    margin-top: 105px;
  }
}

@media (max-width: 900px) {
  .header-main__main-nav {
    margin-top: 90px;
  }

  .header-main__menu-label {
    display: inline;
  }
}

@media (max-width: $tablet-width) {
  .header-main {
    background-position: center top, top center;
    background-repeat: no-repeat, no-repeat;
    background-image: url("../img/top-lines@1x.png"), url("../img/starandbg.png");
    background-size: 150%, auto;
    padding-top: 40px;

    &.webp {
      background-image: url("../img/top-lines@1x.webp"), url("../img/starandbg.webp");
    }
  }

  .header-main__main-nav {
    margin-top: 0;
  }
}
