.header-banner {
  color: $cl-grey;
  font-size: 22px;
  line-height: 28px;
  font-family: "Roboto", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.header-banner__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.header-banner__logo-text {
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  font-family: "Roboto", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-style: italic;
}

.header-banner__promo-text,
.header-banner__contacts {
  flex-basis: 50%;
  color: #34454f;
  padding: 0 15px;
  box-sizing: border-box;
}

.header-banner__contacts {
  text-align: right;
  font-size: 16px;
  line-height: 24px;
}

.header-banner__firm-services-text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  text-align: left;
}

.header-banner__contacts-link {
  color: $cl-red;
  text-decoration: underline;

  &:hover {
    color: lighten($cl-red, 30%);
  }

  &:focus,
  &:active {
    color: invert($cl-red);
  }
}

.header-banner__logo {
  margin: 0 auto;
  margin-bottom: 55px;
  justify-content: center;
  flex-basis: 100%;
}

@media (max-width: $tablet-width) {
  .header-banner__promo-text {
    max-width: 100%;
    font-size: 20px;
    line-height: 28px;
    flex-basis: 100%;
  }

  .header-banner__wrapper {
    padding: 0 15px;
  }

  .header-banner__contacts {
    flex-basis: 100%;
  }
}
