@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logo {
  height: 200px;
  display: flex;
  justify-content: center;
}

.logo__wrapper {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
}

.logo__image {
  &--tribar {
    animation: rot 15s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 200px;
    height: 200px;
  }

  &--book {
    position: absolute;
    top: 50px;
    left: 55px;
    z-index: 2;
    width: 90px;
    height: 100px;
  }
}
