.main-nav {
  background-color: transparent;
  background-image: linear-gradient(to right, transparent, transparent 30%, $cl-white 30%, $cl-white);
}

.main-nav__toggler {
  display: none;
  width: 30px;
  height: 50px;
  border: 0;
  box-shadow: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  margin-right: 20px;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent, transparent 15px, $cl-grey 15px, $cl-grey 19px, transparent 19px, transparent 23px, $cl-grey 23px, $cl-grey 27px, transparent 27px, transparent 31px, $cl-grey 31px, $cl-grey 35px, transparent 35px, transparent);
  position: relative;

  &::before {
    content: "Меню";
    position: absolute;
    height: 50px;
    width: 100px;
    text-align: center;
    left: -100px;
    top: 0;
    font-size: 20px;
    line-height: 50px;
  }
}

.main-nav__list {
  max-width: $desktop-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

@media (max-width: $desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: $cl-white;
  }

  .main-nav--closed {
    background-color: $cl-white;

    .main-nav__list {
      display: none;
    }
  }

  .main-nav--opened {
    background-color: $cl-white;
  }

  .main-nav__toggler {
    display: block;

    .main-nav--nojs & {
      display: none;
    }

    .main-nav--opened & {
      background-image: none;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 4px;
        top: 23px;
        left: 0;
        background-color: $cl-grey;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }

  .main-nav__list {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (max-width: $tablet-width) {
  .main-nav {
    background: none;

    &--closed {
      background-color: $cl-white;
    }

    &--opened {
      background: none;
    }
  }
}
