.map {
  min-height: 450px;
  margin: 0 auto;
}

.map__online-map {
  border: 0;
  box-shadow: none;
  width: 100%;
  height: 450px;

  .map--nojs & {
    display: none;
  }

  .map--js & {
    display: block;
  }
}

.map__map-static {
  img {
    object-fit: cover;
    max-width: none;
    height: auto;
    width: auto;
  }

  .map--nojs & {
    display: block;
  }

  .map--js & {
    display: none;
  }
}

// @media (max-width: $desktop-width) {
//   .map {
//     max-width: $tablet-width;
//   }
// }
//
// @media (max-width: $tablet-width) {
//   .map {
//     max-width: none;
//   }
// }
