.menu-list {
  @include list-reset;
  max-width: $desktop-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: $cl-white;
}

.menu-list__item {
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  background-color: $cl-white;

  &--active {
    background-color: $cl-red;

    .menu-list__link {
      color: $cl-white;

      &:hover {
        color: transparentize($cl-white, 0.3);
      }

      &:focus,
      &:active {
        color: invert($cl-red);
      }
    }
  }
}

.menu-list__link {
  color: $cl-red;
  text-decoration: underline;

  &:hover {
    color: lighten($cl-red, 30%);
  }

  &:focus,
  &:active {
    color: invert($cl-red);
  }
}
