.menu-list {
  @include list-reset;
  background-color: $cl-white;
  margin: 0 auto; // in list reset margin is disabled
}

.menu-list__item {
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  background-color: $cl-white;

  &--active {
    background-color: $cl-red;

    .menu-list__link {
      color: $cl-white;

      &:hover {
        color: $cl-yellow;
      }

      &:focus,
      &:active {
        color: invert($cl-grey);
      }
    }
  }
}

.menu-list__link {
  color: $cl-red;
  text-decoration: underline;

  &:hover {
    color: lighten($cl-grey, 30%);
  }

  &:focus,
  &:active {
    color: invert($cl-grey);
  }
}

@media (max-width: $desktop-width) {
  .menu-list__item {
    min-height: 50px;
    padding: 0;
  }

  .menu-list__link {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
}
