.page-content {
  // max-width: 1140px;
  // margin: 0 auto;
  background-color: transparent;

  &--front-page {
    max-width: none;
    margin: 0;
  }
}

.page-content__header {
  padding: 15px 0;
  max-width: $desktop-width;
  margin: 0 auto;
}

@media (max-width: $desktop-width) {
  .page-content {
    max-width: none;
    margin: 0;
  }

  .page-content__header {
    max-width: $tablet-width;
    margin: 0 auto;
  }
}

@media (max-width: $tablet-width) {
  .page-content {
    max-width: none;
    margin: 0;
  }

  .page-content__header {
    max-width: none;
    margin: 0;
  }
}
