.price {
  background-color: $cl-white;
  background-image: url("../img/price-card-star@1x.png"), linear-gradient(to bottom, transparent, transparent 28px, #297cc4 28px, #297cc4 86px, transparent 86px, transparent);
  background-repeat: no-repeat, no-repeat;
  background-size: auto 200px, auto;
  background-position: center -30px, center top;
  min-height: 333px;
  box-sizing: border-box;
  padding: 0;
  padding-top: 120px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }

  &--phone {
    background-image: url("../img/price-phone.svg"), url("../img/price-card-star@1x.png"), linear-gradient(to bottom, transparent, transparent 28px, #297cc4 28px, #297cc4 86px, transparent 86px, transparent);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto 120px, auto 200px, auto;
    background-position: center top, center -30px, center top;

    &:hover {
      background-size: auto 120px, auto 250px, auto;
      background-position: center top, center -55px, center top;
      transition: all 0.3s ease-in-out;
    }
  }

  &--full-time {
    background-image: url("../img/price-tea.svg"), url("../img/price-card-star@1x.png"), linear-gradient(to bottom, transparent, transparent 28px, #297cc4 28px, #297cc4 86px, transparent 86px, transparent);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto 60px, auto 200px, auto;
    background-position: center top 25px, center -30px, center top;

    &:hover {
      background-size: auto 60px, auto 250px, auto;
      background-position: center top 25px, center -55px, center top;
      transition: all 0.3s ease-in-out;
    }
  }

  &--docs {
    background-image: url("../img/price-docs.svg"), url("../img/price-card-star@1x.png"), linear-gradient(to bottom, transparent, transparent 28px, #297cc4 28px, #297cc4 86px, transparent 86px, transparent);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto 100px, auto 200px, auto;
    background-position: center top 10px, center -30px, center top;

    &:hover {
      background-size: auto 100px, auto 250px, auto;
      background-position: center top 10px, center -55px, center top;
      transition: all 0.3s ease-in-out;
    }
  }

  &--courts-representation {
    padding: 0;
    min-height: 155px;
    padding-left: 95px;
    background: $cl-white url("../img/price-card-triangle.svg") no-repeat left center;
  }
}

.price__value {
  margin-top: auto;
  min-height: 70px;
  min-width: 130px;
  background: transparent url("../img/price-bg@1x.png") no-repeat center center;
  background-size: 128px 69px;
  color: $cl-white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  .price & {
    &:hover {
      transform: rotate(0);
      transition: all 0.3s ease-in-out;
    }
  }

  .price--phone & {
    transform: rotate(-3deg);
    transition: all 0.3s ease-in-out;
  }

  .price--full-time & {
    transform: rotate(1deg);
    transition: all 0.3s ease-in-out;
  }

  .price--docs & {
    transform: rotate(-3deg);
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: $desktop-width) {
  .price {
    &--courts-representation {
      background-size: auto 105%;
      background-position: left -20px center;
    }
  }
}

@media (max-width: $tablet-width) {
  .price {

    //// FIXME: disable mobile animations
    &--phone,
    &--full-time,
    &--docs {
      background-size: auto 100px, auto 250px, auto;
      background-position: center top 10px, center -55px, center top;
    }

    &--courts-representation {
      background-position: left -30px center;
    }
  }

  //// FIXME: disable mobile animations
  .price__value {
    .price--phone &,
    .price--full-time &,
    .price--docs & {
      transform: rotate(0deg);
    }
  }
}
