.prices {
  background-color: transparent;
}

.prices__list {
  @include list-reset;
  width: $desktop-width - (($desktop-width/12)*3) + 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -15px;
}

.prices__card {
  width: calc(33.3333% - 30px);
  margin: 0 15px;
}

.prices__card--big {
  width: 100%;
  margin: 0 15px;
  margin-bottom: 35px;
  margin-top: 20px;
}
