.services {
  background-color: $cl-blue;
  background-image: linear-gradient(135deg, $cl-blue, $cl-blue-dark);
}

.services__wrapper {
  max-width: $desktop-width;
  padding: 70px 0;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 27px;
    left: 15px;
    top: -1px;
    background: transparent url("../img/services-elipse.svg") no-repeat center center;
  }
}

.services__header {
  color: $cl-white;
  font-size: 26px;
  line-height: 34px;
  font-family: "Lora", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  margin: 0;
  margin-left: 80px;
}

.services__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__service {
  width: 33.3333%;
  margin-top: 30px;
  min-height: 50px;
  box-sizing: border-box;
  padding: 0 15px;
  padding-left: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 80px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--family {
    &::before {
      background-image: url("../img/family_1309532@1x.png");
      background-size: 35px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/family_1309532@2x.png");
      }
    }
  }

  &--credit {
    &::before {
      background-image: url("../img/bank_1902525@1x.png");
      background-size: 30px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/bank_1902525@2x.png");
      }
    }
  }

  &--oldman {
    &::before {
      background-image: url("../img/old-man_1618897@1x.png");
      background-size: 28px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/old-man_1618897@2x.png");
      }
    }
  }

  &--loan {
    &::before {
      background-image: url("../img/loan_1324793@1x.png");
      background-size: 35px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/loan_1324793@2x.png");
      }
    }
  }

  &--lawhammer {
    &::before {
      background-image: url("../img/law-hammer_1826832@1x.png");
      background-size: 31px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/law-hammer_1826832@2x.png");
      }
    }
  }

  &--consumer-protection {
    &::before {
      background-image: url("../img/shopping-cart_465048@1x.png");
      background-size: 24px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/shopping-cart_465048@2x.png");
      }
    }
  }

  &--hereditary-disputes {
    &::before {
      background-image: url("../img/ribbon_55189@1x.png");
      background-size: 35px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/ribbon_55189@2x.png");
      }
    }
  }

  &--millitary-disputes {
    &::before {
      background-image: url("../img/tank_1291268@1x.png");
      background-size: 30px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/tank_1291268@2x.png");
      }
    }
  }

  &--insurance {
    &::before {
      background-image: url("../img/umbrella_1008091@1x.png");
      background-size: 28px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/umbrella_1008091@2x.png");
      }
    }
  }

  &--labor-disputes {
    &::before {
      background-image: url("../img/spanner_1721315@1x.png");
      background-size: 35px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/spanner_1721315@2x.png");
      }
    }
  }

  &--honor-protection {
    &::before {
      background-image: url("../img/lion_549920@1x.png");
      background-size: 24px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/lion_549920@2x.png");
      }
    }
  }

  &--real-estate-disputes {
    &::before {
      background-image: url("../img/window_655725@1x.png");
      background-size: 23px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/window_655725@2x.png");
      }
    }
  }

  &--earth {
    &::before {
      background-image: url("../img/earth_1916540@1x.png");
      background-size: 25px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/earth_1916540@2x.png");
      }
    }
  }

  &--developer-disputes {
    &::before {
      background-image: url("../img/crane_1065551@1x.png");
      background-size: 28px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/crane_1065551@1x.png");
      }
    }
  }

  &--real-estate-deals {
    &::before {
      background-image: url("../img/house_2038614@1x.png");
      background-size: 28px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/house_2038614@2x.png");
      }
    }
  }

  &--arbitration-disputes {
    &::before {
      background-image: url("../img/case_650254@1x.png");
      background-size: 28px auto;

      @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/case_650254@2x.png");
      }
    }
  }
}

.services__service-link {
  color: $cl-white;
  text-decoration: underline;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    color: transparentize($cl-white, 0.3);
  }

  &:visited {
    color: $cl-white;
  }

  &:active,
  &:focus {
    color: $cl-blue-dark;
  }
}
