body {
  font-family: "Roboto", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 16px;
  line-height: 24px;
  min-width: 320px;
  padding: 0;
  color: $cl-grey;
  background-color: $cl-white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: $mobile-width) {
  body {
    max-width: $mobile-width;
  }
}

@media (max-width: $tablet-width) {
  body {
    max-width: $tablet-width;
  }
}

// @media (min-width: $desktop-width) {
//   body {
//     min-width: $desktop-width;
//   }
// }
