$mobile-width: 414px;
$tablet-width: 768px;
//$desktop-width: 1140px;
$desktop-width: 1080px;

$cl-grey: #4a4a4a;
$cl-white: #ffffff;
$cl-red: #ff4100;
$cl-blue: #2e8ed8;
$cl-blue-light: #86c7ff;
$cl-blue-dark: #164cc1;
$cl-blue-menu: #007dc8;
$cl-blue-footer: #0071b2;
$cl-yellow: #fff500;

@import "normalize";
@import "mixin.scss";
@import "fonts.scss";
@import "global.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/advantages.scss";
@import "blocks/page-content.scss";
@import "blocks/footer-main.scss";
@import "blocks/header-main.scss";
@import "blocks/main-nav.scss";
@import "blocks/menu-list.scss";
@import "blocks/header-contacts.scss";
@import "blocks/header-banner.scss";
@import "blocks/features.scss";
@import "blocks/feature.scss";
@import "blocks/services.scss";
@import "blocks/prices.scss";
@import "blocks/price.scss";
@import "blocks/logo.scss";
@import "blocks/contacts-page.scss";
@import "blocks/map.scss";
@import "blocks/slick.scss";
@import "blocks/slick-theme.scss";
